<!DOCTYPE html>
<html>
  <head>
    <title>Notas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'animate', media: 'all' %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all' %>
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag    'bootstrapTheme', media: 'all' %>
    <%= stylesheet_link_tag    'custom', media: 'all' %>
    <%= stylesheet_link_tag    'general', media: 'all' %>
    <%= stylesheet_link_tag    'home', media: 'all' %>
    <%= stylesheet_link_tag    'magnific-popup', media: 'all' %>
    <%= stylesheet_link_tag    'owl.carousel', media: 'all' %>
    <%= stylesheet_link_tag    'owl.theme', media: 'all' %>
    <%= stylesheet_link_tag    'style', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'cable' %>
    <%= javascript_include_tag 'classie' %>
    <%= javascript_include_tag 'html5shiv' %>
    <%= javascript_include_tag 'jquery-1.10.2' %>
    <%= javascript_include_tag 'jquery-1.9.1.min' %>
    <%= javascript_include_tag 'jquery.corner' %>
    <%= javascript_include_tag 'jquery.magnific-popup' %>
    <%= javascript_include_tag 'modernizr-2.8.3.min' %>
    <%= javascript_include_tag 'modernizr.custom' %>
    <%= javascript_include_tag 'owl.carousel' %>
    <%= javascript_include_tag 'PIE_IE678' %>
    <%= javascript_include_tag 'PIE_IE9' %>
    <%= javascript_include_tag 'script' %>
    <%= javascript_include_tag 'stickUp.min' %>
    <%= javascript_include_tag 'uiMorphingButton_inflow' %>
    <%= javascript_include_tag 'wow.min' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body id="home">
    <%= yield %>
  </body>
</html>
